<div class="container">
  <mat-card *ngFor="let product of products" >
    <mat-card-title-group>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>{{product.cost}}</mat-card-subtitle>
      <img mat-card-md-image src="{{getProductImageLink(product.imageLink || '')}}">
    </mat-card-title-group>
    <mat-card-content>
      <p>{{product.categoryName}}</p>
      <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
        например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если в</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" (click)="addToCart(product.id)">В корзину</button>
      <button mat-button color="accent" routerLink="/app/product/{{product.id}}">Подробнее</button>
      <button mat-raised-button color="accent"  *ngIf="hasAdminRole$ | async"  (click)="onEdit(product.id)">Редактировать</button>
      <button mat-raised-button color="accent"  *ngIf="hasAdminRole$ | async"  routerLink="/app/admin/product_values/{{product.id}}">Параметры</button>
    </mat-card-actions>
  </mat-card>
</div>
