<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Продукт</title>
</head>
<body>
<h3>Изменить продукт</h3>
<form action="#" th:action="@{/product}" th:object="${product}" method="post">
    <p>id: <input type="text" th:field="*{id}" readonly/></p>
    <p>Наименование продукта: <input type="text" th:field="*{title}"/></p>
    <p>Стоимость: <input type="text" th:field="*{cost}"/></p>
    <p><input type="submit" value="Сохранить"/> <input type="reset" value="Отмена"/></p>
</form>
</body>
</html>
