<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>

<h3><a th:href="@{/category}"><span>Категории</span></a></h3>
<h3><a th:href="@{/product/form}"><span>Добавить продукт</span></a></h3>


<h3>Фильтр по названию категории</h3>
<form action="#" th:action="@{/product}" method="get">
    <select name="category">
        <option th:each="i : ${categories}" th:value="${i.getTitle()}" th:text="${i.getTitle()}">
        </option>
    </select>
    <p><input type="submit" value="Отфильтровать"/></p>
</form>

<h3>Фильтры урок 7</h3>
<form action="#" th:action="@{/product}" method="get">
    <p>Минимальная цена: <input type="text" name="minCost"/></p>
    <p>Максимальная цена: <input type="text" name="maxCost"/></p>
    <p>Название: <input type="text" name="title"/></p>

    <p><input type="submit" value="Отфильтровать"/></p>
</form>

<h3>Применены фильтры</h3>
<h4 th:text="|${filters}|"></h4>

<h3><a th:href="@{/product}"><span>Сбросить фильтры</span></a></h3>

<br>

<h3>Все продукты</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Стоимость</th>
        <th>Категория</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"/>
        <td>
            <a th:href="@{product/form(id=${p.id})}" href="#"><span th:text="${p.title}"></span></a>
        </td>
        <td th:text="${p.cost}"/>
        <td th:text="${p.categoryName}"/>
    </tr>
    </tbody>
</table>

</body>
</html>
