<div class="content-width">
    <table mat-table [dataSource]="cartItems$"  class="mat-elevation-z8">

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Название</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Стоимость</th>
            <td mat-cell *matCellDef="let element"> {{element.cost * element.count}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Количество</th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
        </ng-container>

<!--        <ng-container matColumnDef="actions">-->
<!--            <th mat-header-cell *matHeaderCellDef> Дайствия</th>-->
<!--            <td mat-cell *matCellDef="let element">-->
<!--                <span class="edit-btn"><button mat-button color="accent" type="submit" (click)="choose(element.id)">Редактировать</button></span>-->
<!--                <span><button mat-button color="warn" type="submit" (click)="delete(element.id)">Удалить</button></span>-->
<!--            </td>-->
<!--        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</div>
